.hero-section {
  max-width: 1440px;
  min-height: 700px;
  margin: 0 auto;
  font-family: "Core Sans C", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }

  .sub_role {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }
}
